/* this will be used for the modal */

.image{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-device-width: 500px) {

    .fade.modal.show{
        margin-top: 10%;
        width: 100vw;
    }

    .image{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

}